<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_article_comment_path(@comment.article, @comment) %> |
  <%= link_to "Back to comments", article_comments_path(@comment.article) %>

  <%= button_to "Destroy this comment", @comment, method: :delete %>
</div>
