<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <% if logged_in? && current_user.id == @article.user_id %>
    <%# Se o autor do artigo for o mesmo que o usuário %>
    <%= link_to "Edit this article", edit_article_path(@article) %> |
    <%= button_to "Destroy this article", @article, method: :delete %>
    
  <% else %>
    <%= link_to "Back to articles", articles_path %>
    <%= link_to "Comentários", article_comments_path(@article) %>
  <%end%>
</div>
