<header style="background-color:#F7F7F7; color: #1E1E2C; padding: 10px;">
    <nav>
        <h1>Projeto K</h1>
         <li style="display: inline; margin-right: 10px;">
                <%= link_to "ARTIGOS", articles_path(@article), style: "color: #FF7F11;"  %>
            </li>
        <% if logged_in? %>
            <li style="display: inline; margin-right: 10px;">
                <%= button_to "LOGOUT", logout_path, method: :delete, style: "color: #FF7F11;"  %>
            </li>
            <li style="display: inline; margin-right: 10px;">
                Bem-vindo, <%= current_user.name %>!
            </li>
        <% else %>
          <li style="display: inline; margin-right: 10px;">
            <%= link_to "Login", login_path, style: "color: color: #FF7F11;" %>
          </li>
          <li style="display: inline; margin-right: 10px;">
            <%= link_to "Cadastrar", new_user_path, style: "color: color: #FF7F11;" %>
          </li>
        <% end %>
    </nav>
</header>